:host {
    background: rgb(77,77,77);
    color: bisque;

    .urlPelis {
      text-decoration: unset;
      color: bisque;
    }

    .movieDetail {
        background-size: cover;

        padding: 1em;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
        grid-gap: 1em;
        position: relative;

        &>* {
            z-index: 1;
            position: relative;
        }

        &::before {
            content: '';
            z-index: 0;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($color: #333, $alpha: 0.7)
        }

        .rating {
            font-size: 3em;
            font-weight: 800;

            span {
                font-size: 0.5em;
                font-weight: 400;


            }
        }

        img {
            width: 100%;
        }

        .generos span {
            margin-right: 0.6em;
            margin-top: 0.5em;
            box-sizing: content-box;
            background: #333;
            display: inline-block;
            text-transform: uppercase;
            padding: 0.5em;
            border-radius: 5px;
        }
    }
.box {
    perspective: 120px;
    justify-content: center;
}

.plane {
    width: 2em;
    height: 2em;
    background-color: bisque;
    transform: rotate(0);
    animation: flip 1s infinite;
}

@keyframes flip {
    50% {
        transform: rotateY(180deg);
    }

    100% {
        transform: rotateY(180deg) rotateX(180deg);
    }
}
}
