nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #333;
  color: bisque;
  padding: 2em;
  i{
    font-size: 2.5em;
  }
  a {
    margin: 0 1em;
    text-decoration: none;
    color: bisque;
  }
  .active {
    color: tomato;
    text-decoration: underline;
  }
 button {
     z-index: 1;
     position: relative;
     font-size: inherit;
     font-family: inherit;
     color: bisque;
     padding: 0.5em 1em;
     outline: none;
     border: none;
     background-color: #333;
 }

 button::before {
     content: '';
     z-index: -1;
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     background-color: bisque;
     transform-origin: center bottom;
     transform: scaleY(0);
     transition: transform 0.25s ease-in-out;
 }

 button:hover {
     cursor: pointer;
     color: #333;

 }

 button:hover::before {
     transform-origin: center top;
     transform: scaleY(1);
 }

  button:hover::after {
      transition: transform 0.45s ease-in-out;
      transform: translateX(200%) rotate(35deg);
  }
}
